/*# sourceMappingURL=main.css.map */
.footer-wrapper {
  background: rgb(55, 19, 91);
  padding: 0 20px;
}

.alphbed-numbers-list {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: rgb(55, 19, 91);
}

.alphbed-numbers-list {
  -ms-flex-direction: column;
  flex-direction: column
}

.alphbed-numbers-list .left-area-lable {
  padding-bottom: 16px
}

.alphbed-numbers-list .right-area-lable ul {
  position: relative;
  left: -16px;
  row-gap: 16px
}

.alphbed-numbers-list .right-area-lable ul li a {
  border-left: 0;
  border-right: 1px solid #fff;
  width: auto;
}

/* .alphbed-numbers-list .right-area-lable ul li:last-child a {
  padding-right: 0;
  width: auto;
  border-right: 0;
  padding-left: 16px
} */

.alphbed-numbers-list {
  -ms-flex-direction: column;
  flex-direction: column
}

.alphbed-numbers-list .left-area-lable {
  padding-bottom: 16px
}

.alphbed-numbers-list .right-area-lable ul {
  position: relative;
  left: -16px
}
.button-wrapper .left-area-lable span {
  
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  line-height: 19.2px;
  color: #43165c;

}

.left-area-lable span {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 19.2px
}

.right-area-lable ul {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}

.right-area-lable ul li {
  margin: 0 0 6px;
  list-style: none;
}

.right-area-lable ul a {
  color: #c6c6c6;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  width: 37.62px;
  height: 19px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #fff;
  padding: 0 5px;
  text-decoration: none;
}

.right-area-lable ul a:hover {
  color: #7132b0
}



@media (min-width:1279px) {
  .right-area-lable ul li:first-child a {
    border-left: 0
  }
}

@media (max-width:370px) {
  .alphbed-numbers-list .right-area-lable ul li a {
    border-color: #c6c6c6;
    width: 28.23px
  }

  .alphbed-numbers-list .right-area-lable ul {
    left: -10px
  }

}

.button-wrapper .right-area-lable ul li a {
  width: auto;
  border-radius: 24%;
  padding: 13px;
  border: 1px solid #fff;
  border: 1px solid hsla(0, 0%, 42%, .5);
  background: #fff;
  color: #43165c;
  font-size: 15px;
}

.button-wrapper .alphbed-numbers-list,
.button-wrapper .footer-wrapper {
  background: #f5f5f5;
}

.city-detail h2{
  background-image: url(https://img.traveltriangle.com/apac/attachments/pictures/843471/original/himachal-family-tour-packages-g.jpg?tr=w-1366,h-305);
  height: 300px;
  display: flex
;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.button-wrapper .right-area-lable ul li a:hover{
  background: #5a298b;
  border-color: #5a298b;
  color: #fff;
}

.table-width .city-cell a{
  text-decoration: none;
    color: black;
    font-weight: 400;
}

.content-wrapper{
  padding: 0 40px;
}

.card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-wrapper p{
  color: #4caf50;
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.price-wrapper .old-price{

  text-decoration: line-through;
  font-size: 14px;
    line-height: 16px;
    color: #3e3e3e;
    vertical-align: baseline;
}

.price-wrapper .discount{
  font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding: 2px 8px;
    background-color: #20a397 !important;
    border-radius: 20px;
}
.price-wrapper .start{
  margin-right: 24px;
  color: #b2b2b2;
  font-size: 12px;
  line-height: 16px;
}

.price-wrapper .span-wrapper{
  padding-bottom: 8px;
}

.hotel-star p{
  font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    margin: 0;
    color: #3e3e3e;
    padding-bottom: 4px;
    margin: 0;
}

.hotel-star label{
  font-size: 18px;
  line-height: 18px;
  color: #3e3e3e;
  padding-left: 8px;
  margin-bottom: 16px;
  font-weight: 500;
}

.price-wrapper .per-person{
  margin: 0;
  color: #b2b2b2;
  font-size: 12px;
  line-height: 16px;
}

.hotel-star{
  padding-top: 8px;
}

.compare{
  display: flex;
      justify-content: end;
      align-items: center;
      color: #20a397 !important;
}
.compare label{
  padding-right: 8px;
}
.card-wrapper{
  max-width: 900px;
  width: 100%;
  padding: 8px;
  border: 1px solid #d4d4d4;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card-wrapper img{
  width: 100%;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-book{
  padding: 12px 25px;
    background-color: #fe5246;
    border: 0;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}